<div class="col-md-12"><hr/></div>
  <div id="product-sales" class="col-md-12" style="max-height: 500px"></div>
<div class="col-md-12"><hr/></div>

<script type="text/javascript">
      $('#product-sales').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Product Wise Sales Report'
        },
        xAxis: {
          type: 'category',
          max: 9 
        },
        yAxis: {
          title: {
            text: 'Total Products Sale'
          }
        },
        scrollbar: {
          enabled: true
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: '{point.y}'
            }
          }
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        series: [{
          name: "Products Sold",
          colorByPoint: true,
          data: [
            <% [1..100].each_with_index do |product, index| %>
              {
                name: "<%= product %>",
                y: <%= index %>,
              },
            <% end %>
          ]
        }]
      });
    </script>